/* default */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.float-left{
  float: left;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: white;
}

.w-50{
  width: 50%;
}

/* header */
header{
  width: 100%;
  height: 500px;
  background-color: rgb(5, 5, 131);
}

.header-contenitore{
  width: 100%;
  height: 100%;
  min-width: 1300px;
  padding-left: 10%;
  padding-right: 10%;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 115% 100% ;
}

.header-nav{
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

.header-contenitore .logo{
  width: 15%;
}

.header-contenitore .logo img{
  margin-top: 15px;
}

.header-contenitore .nav-center{
  width: 45%;
}

.header-contenitore .nav-right{
  width: 40%;
  text-align: right;
}


/* menu */

.menu-inline{
  list-style: none;
}

.menu-inline li{
  display: inline;
  padding: 0 10px;
}
.menu-inline li a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

/* buttons */

.btn{
  display: inline-block;
  color: white;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.btn.white{
  border: solid 1px white;
  padding-left: 30px;
  padding-right: 30px;
}

.btn.verde{
  background-color: rgb(6, 179, 6);
}

.btn.verde.large{
  padding: 20px;
}

/* jumbotrom */

.jumbotrom{
  position: relative;
  height: 420px;
}

.jumbotrom-text{
  position: absolute;
  top: 50%;
}

.jumbotrom-text h1{
  font-size: 350%;
  transform: translateY(-50%);  
}

/* main */

/* description-section */
.description{
  padding-top: 25px;
  padding-right: 20%;
  padding-left: 20%;
  width: 100%;
  height: 100px;
  background-color: rgb(197, 194, 194);
  text-align: center;
}

.description h2{
  height:  30px;
  line-height: 30px;
  color: black;
}

.description p{
  color: rgb(124, 123, 123);
  font-size: 15px;
}

/* information-section */
.information{
  width: 100%;
  min-height: 400px;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}
.information img{
  width: 100%;
  height: 150px;
}

.information-left,
.information-center,
.information-right{
  margin: 0 1%;
  width: 31%;
  text-align: center;
 }

.information h3{
  margin-top: 10px;
  color: rgb(36, 224, 36);
  font-size: 170%;
  padding: 0 10%;
}
.information hr{
  margin-top: 8% ;
  margin-bottom: 4% ;
  margin-left: 40% ;
  margin-right: 40% ;
}
.information p{
  color: grey;
  font-size: 115%;
  line-height: 159%;
}
/* hr */
.lunga{
  margin: 2% 1%;
}
/* information-2 section */
.information-2{
  width: 100%;
  height: 400px;
  padding-left: 10%;
  padding-right: 13%;
  padding-top: 2%;
}

.information-2 .montain, img{
  height: 100%;
  
}

.scopri h1{
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
}

.scopri p{
  color: rgb(112, 112, 112);
  font-size: 15px;
  margin-bottom: 18px;
  padding-right: 33px;
}

.scopri a{
  color: rgb(57, 172, 243);
}
